@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

@media (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo {
  font-size: 26px;
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  margin-right: 93px;
}

@media screen and (max-width: 1200px) {
  .logo {
    font-size: 24px;
    line-height: 1.19;
  }
}

.top-logo {
  color: var(--primary-text-color);
}

.pages {
  font-size: 14px;
  line-height: 1.17;
  color: var(--primary-text-color);
  font-weight: 500;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-pages__menu--active {
  position: relative;
  color: var(--accent-color);
}

.nav-pages__menu--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -33px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.pages:hover, .pages:focus {
  color: var(--accent-color);
}

.contacts {
  font-size: 14px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icons {
  margin-right: 10px;
  fill: currentColor;
}

.contacts:hover, .contacts:focus {
  color: var(--accent-color);
}

.header-studio {
  padding-top: 24px;
  padding-bottom: 25px;
}

.portfolio-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .nav-pages {
    display: none;
  }
}

.nav-pages__menu:not(:last-child) {
  margin-right: 50px;
}

.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-right: 0;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .nav-contacts {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .nav-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-contacts__mail-tel-top + .nav-contacts__mail-tel-top {
  margin-left: 50px;
}

@media screen and (max-width: 1199px) {
  .nav-contacts__mail-tel-top + .nav-contacts__mail-tel-top {
    margin-left: 0;
  }
}

@media screen and (max-width: 1199px) {
  .nav-contacts__mail-tel-top {
    font-size: 12px;
    line-height: 1.17;
  }
}

.header-btn {
  margin-left: auto;
  border: none;
  background-color: transparent;
  z-index: 12;
}

@media screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
}

.header-btn:hover {
  cursor: pointer;
}

.header-btn.is-open .header-btn__icon--open {
  display: none;
}

.header-btn .icon-menu-close {
  display: none;
}

.header-btn.is-open .icon-menu-close {
  display: block;
}

.modal-menu {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 11;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  pointer-events: none;
}

@media (min-width: 768px) {
  .modal-menu {
    display: none;
  }
}

.modal-menu.is-open {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

.modal-menu__list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.modal-menu__item:not(last-child) {
  margin-bottom: 32px;
}

.modal-menu__link {
  color: #212121;
}

.modal-menu__link--current {
  color: var(--accent-color);
}

.modal-menu__contacts {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}

.modal-menu__contacts-item {
  margin-bottom: 32px;
}

.modal-menu__contacts-item:last-child {
  margin-bottom: 0;
}

.modal-menu__contacts-link {
  color: #757575;
}

.modal-menu__contacts-link.tel {
  font-size: 34px;
  color: #2196f3;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.socials__item {
  margin-right: 20px;
  position: relative;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__item:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
  position: absolute;
  top: 0;
  right: -10px;
}

.socials__link {
  color: #2196f3;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 118px 0;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.overlay {
  max-width: 1600px;
  max-height: 600px;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-image-sm.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image-sm.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-image-sm.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image-sm.jpg);
  }
}

@media (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-image-md.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image-md.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-image-md.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image-md.jpg);
  }
}

@media (min-width: 1200px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-image.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image.jpg);
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-image.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image.jpg);
  }
}

.hero__heading {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .hero__heading {
    font-size: 26px;
    line-height: 1.62;
  }
}

.hero__button {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
}

.hero__button:hover, .hero__button:focus {
  cursor: pointer;
}

.section-advantages {
  padding-bottom: 0;
}

@media screen and (max-width: 1199px) {
  .section-advantages {
    padding-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .advantages__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media (min-width: 1200px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
    flex-basis: calc((100% - 120px) / 4);
  }
}

.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advan-descrip {
  font-size: 14px;
  line-height: 1.17;
  color: var(--primary-text-color);
  font-weight: 700;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .advan-descrip {
    text-align: center;
  }
}

.advan-descrip__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  font-weight: 400;
}

@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

.trends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.main-page-secondary-title {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .main-page-secondary-title {
    font-size: 28px;
  }
}

.direction {
  position: relative;
}

.direction__label {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  position: absolute;
  text-align: center;
  left: 30px;
  bottom: 0px;
  height: 70px;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.direction-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  padding: 0;
  margin-bottom: 0;
}

.direction__img {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  -ms-flex-preferred-size: calc((100% - 30px * 3) / 3);
      flex-basis: calc((100% - 30px * 3) / 3);
}

.section-team {
  background-color: #f5f4fa;
}

.developers {
  font-size: 16px;
  line-height: 1.17;
  font-weight: 500;
  margin-bottom: 10px;
}

.developers-title {
  padding: 30px 0;
  text-align: center;
  background-color: #ffffff;
}

.position {
  font-size: 16px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  font-weight: 400;
  margin-bottom: 16px;
}

.photo {
  width: 100%;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  padding: 0;
  list-style: none;
}

.team__img {
  margin-top: 30px;
  margin-left: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 0;
}

@media (min-width: 768px) {
  .team__img {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media (min-width: 1200px) {
  .team__img {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.team-contacts-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.clients-title {
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-left: 30px;
  -ms-flex-preferred-size: calc((100% - 180px) / 6);
      flex-basis: calc((100% - 180px) / 6);
}

@media (max-width: 480px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media (max-width: 1199px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 3);
        flex-basis: calc((100% - 120px) / 3);
  }
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .clients-link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-link {
    width: 226px;
  }
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover, .clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
  outline: none;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .products {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .products__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .products__item:nth-child(n + 4) {
    margin-top: 21px;
  }
}

.products__item:not(:last-child) {
  margin-right: 8px;
}

.tabs {
  font-size: 16px;
  line-height: 1.63;
  color: var(--primary-text-color);
  font-weight: 500;
  padding: 6px 22px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tabs:hover, .tabs:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.decisions {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  margin-bottom: 4px;
}

.type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
  font-weight: 400;
}

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  padding: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.examples__mockups {
  margin-top: 30px;
  margin-left: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__mockups:hover, .examples__mockups:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.examples__mockups:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .examples__mockups {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .examples__mockups {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.examples-names {
  padding: 20px 24px;
  border-top: none;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

/*------СИНИЙ ВЫЕЗЖАЮЩИЙ ОВЕРЛЕЙ ПОРТФОЛИО*/
.thumb {
  position: relative;
  overflow: hidden;
}

.mockups-info {
  position: absolute;
  left: 0;
  top: 200%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__mockups:hover .mockups-info,
.examples__mockups:focus .mockups-info {
  -webkit-transform: translate(0, -100%) translateY(-100%);
          transform: translate(0, -100%) translateY(-100%);
}

.trademark {
  color: var(--accent-color);
  padding-right: 0;
  margin-right: 0;
}

.bot-logo {
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .footer-container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .tablet-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .tablet-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.foot-container {
  text-align: center;
  margin-bottom: 60px;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .foot-container {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .foot-container {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-adress {
  color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1200px) {
  .footer-adress {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 1200px) {
  .footer-adress {
    margin-bottom: 0;
  }
}

.foot-adress__title {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 9px;
}

.foot-adress__title {
  text-decoration: none;
}

.footer-adress__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress__link:hover {
  color: var(--accent-color);
}

.footer-adress__link:focus {
  color: var(--accent-color);
}

.footer-adress__link {
  margin-bottom: 9px;
}

.footer-adress__link:last-child {
  margin-bottom: 0;
}

/* Присоединяйтесь */
.follow {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.follow__container {
  margin-bottom: 60px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .follow__container {
    margin-left: 165px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .follow__container {
    margin-left: 70px;
  }
}

@media (min-width: 1200px) {
  .follow__container {
    margin-bottom: 0;
  }
}

.follow-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follow-list__item + .follow-list__item {
  margin-left: 10px;
}

.follow-list__link-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #44454e;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-list__link-icon:hover {
  background-color: var(--accent-color);
}

.follow-list__link-icon:focus {
  background-color: var(--accent-color);
}

.follow-list__network-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}

@media (min-width: 1200px) {
  .subscribe__text {
    width: 219px;
  }
}

.btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .btn__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
  outline: transparent;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .subscribe__input {
    width: 450px;
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe__btn {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 10px 29px 10px 15px;
  color: #ffffff;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.subscribe__icon-send {
  position: absolute;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.backdrop {
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  color: var(--accent-color);
  outline: none;
  cursor: pointer;
}

.modal-close {
  fill: currentColor;
}

.modal__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form__item {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: var(--secondary-text-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  color: var(--logo-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 12px;
  width: 18px;
  height: 18px;
  color: var(--secondary-text-color);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:focus, .modal-input:not(:placeholder-shown) {
  outline: none;
  border-color: var(--accent-color);
}

.modal-textarea:focus, .modal-textarea:not(:placeholder-shown) {
  outline: none;
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon,
.modal-input:not(:placeholder-shown) + .modal-icon {
  fill: var(--accent-color);
}

.accept-item {
  margin-top: 20px;
  padding-left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accept-checkbox {
  position: relative;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  pointer-events: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accept-icon {
  position: absolute;
  left: -20%;
  top: -20%;
  width: 16px;
  height: 15px;
  fill: currentColor;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accept-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.accept-link {
  color: var(--accent-color);
}

.accept-input:checked + .accept-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.accept-input:checked + .accept-checkbox > .accept-icon {
  opacity: 1;
}

.modal-accept {
  margin-top: 30px;
}

.modal-accept-button {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-accept-button:hover, .modal-accept-button:focus {
  background-color: #188ce8;
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */