.clients-title {
  text-align: center;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  justify-content: center;
}
.clients-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 180px) / 6);
  @media (max-width: 480px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media (max-width: 1199px) {
    flex-basis: calc((100% - 120px) / 3);
  }
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: currentColor;
}
.clients-link {
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
    outline: none;
  }
}
