.products {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 50px;
  @media screen and (max-width: 767px) {
    justify-content: start;
    flex-wrap: wrap;
  }

  // @media screen and (min-width: 768px) {
  //   display: flex;
  // }
  // @media screen and (min-width: 1200px) {
  //   margin-bottom: 50px;
  // }
}
.products__item {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    &:nth-child(n + 4) {
      margin-top: 21px;
    }
  }
}
.products__item:not(:last-child) {
  margin-right: 8px;
}

.tabs {
  font-size: 16px;
  line-height: 1.63;
  color: var(--primary-text-color);
  font-weight: 500;
  padding: 6px 22px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.decisions {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  margin-bottom: 4px;
}
.type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
  font-weight: 400;
}
.examples {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  padding: 0;
  margin-bottom: 0;
  list-style-type: none;
  // @media screen and (max-width: 480px) {
  //   // display: block;
  //   // max-width: 100%;
  // }
}

.examples__mockups {
  margin-top: 30px;
  margin-left: 30px;
  // width: 100%;
  // flex-basis: calc((100% - 90px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}
.examples-names {
  padding: 20px 24px;
  border-top: none;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
/*------СИНИЙ ВЫЕЗЖАЮЩИЙ ОВЕРЛЕЙ ПОРТФОЛИО*/
.thumb {
  position: relative;
  overflow: hidden;
}
.mockups-info {
  position: absolute;
  left: 0;
  top: 200%;
  transform: translate(0, -100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__mockups {
  &:hover .mockups-info,
  &:focus .mockups-info {
    transform: translate(0, -100%) translateY(-100%);
  }
}
